<?xml version="1.0"?>
<validator:result xmlns:validator="http://eu.dnetlib/validator" recordId="$record.id" status="$record.status" score="$record.score">
  <validator:failedRules>
#foreach( $rule in $ruleList )
    <validator:rule id="$rule.id" name="$rule.name" xpath="$rule.xpath" mandatory="$rule.mandatory" />
#end
  </validator:failedRules>
  <validator:record>
  	$recordFull
  </validator:record>
</validator:result>

