
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
@import url(fonts/kreon.css);
@import url(fonts/yanonekaffeesatz.css);
@import url(fonts/opensans.css);

body, html {
	height:100%;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/20px verdana, OpenSansLight, sans-serif;
	/*font: 12px/20px "OpenSansLight", "Trebuchet MS", Georgia, "Times New Roman", Times, serif;*/
	color: #717171;
	background: #f5f5f5;
 	background-image: url(images/BG_Header_f5.png), url(images/BG_Footer_f5.png);
 	background-position: left top, right bottom;
 	background-repeat: no-repeat, no-repeat; 
 	background-attachment:fixed;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding-bottom:5px;
	font-family: "OpenSansLight", "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #0F2B5B;
}

h1 { 	padding-top: 25px;
	padding-bottom:15px;
	font-size: 24px; 
	color:#829333; 
}

h2 { 	padding-top: 25px;
	padding-bottom:10px;
	font-size: 18px; 
	color:#829333; 
}

h3 {  
	color:#343CB1;
	font-size: 16px; 
}
h4 {  
	font-size: 16px; 
}
h5 {  
	font-size: 14px; 
}

p, ul, ol {
	margin-top: 0;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #2D72D6; }

a:hover { text-decoration: none; color:#E76E12; cursor: pointer;}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr {
	border-top: 0px;
	border-bottom: 1px solid #ddd;
}
.frontvisible {
	font-size:16px;
	font-family: "OpenSansLight", "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}
.optional {
	font-size:72%!important;
}
.frontvisible p {
	font-size:12px;
}
ul.frontvisible,
.frontvisible ul {
	list-style:none;
	margin-left:60px;
	padding-left:60px;
	font-size:12px;
}
ul.frontvisible>li,
.frontvisible li {
	background: url('images/list_check.png') 0 0 no-repeat;
	padding: 4px 0 0 30px;
	font-size:14px;
	line-height:24px;
}

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

div.wrapper {
	margin: auto; 
}
.errorMessage {
	color: #E24912;
	list-style: none;
	font-style:italic;
	margin:10px 0px;
	font-size:110%;
}

.highlight {
	background: url(images/menu_level2_parent.png) 0 40%  no-repeat;
	padding-left:30px;
	font-weight:bold;
}

.register {
	background: url(images/register.png) right 40%  no-repeat;
	padding-right:18px;
}
.notes {
	color:#818181;
	font-style:italic;
    background-color: transparent;
    background-image: url("images/info.jpg");
    background-repeat: no-repeat;
	background-position:0 left;
    padding-left: 20px;
	line-height:140%;
}
.notes_important {
	color:#666;
	font-style:italic;
    background-color: transparent;
    background-image: url("images/exclamation-icon.png");
    background-repeat: no-repeat;
	background-position:0 left;
    padding-left: 20px;
	line-height:140%;
}
.comments {
	color:#666;
	font-style:italic;
 }
 
.selectedHdr {
	margin: 15px 0px 40px 0px;
	color:#E24912;
	font-family: "YanoneKaffeesatzLight"; 
	font-size: 28px;
}
.helpHdr {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("images/info-left.png");
    background-position: 0 80%;  
    background-repeat: no-repeat;
    padding-left: 35px;
}
.next {
	line-height:32px;
	background-image: url("images/arrow_right.png");
	background-position: 50% 40%;  
	background-repeat: no-repeat;
	padding-right:65px;
	margin-bottom:20px;
	text-align:center;
}
.next a {
	text-decoration:none;
}
.prev {
	line-height:32px;
	background-image: url("images/arrow_left.png");
	background-position: 45% 40%;  
	background-repeat: no-repeat;
	padding-left:25px;
	text-align:center;
	margin-bottom:20px;
}
.prev a {
	text-decoration:none;
}

.smallInp {
	width:10%!important;
}
.smallInp input[type="text"] {
	width:10%!important;
}

.bigInp {
	width:40%!important;
}
.bigInp input[type="text"] {
	width:40%!important;
}

.validatedOk { 
	line-height:32px;
	background-image: url("images/tick.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.addNewRow { 
	line-height:32px;
	background-image: url("images/tick.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.validatedWrong {
	line-height:32px;
	background-image: url("images/error.png");
    background-position: 50% 40%;  
    background-repeat: no-repeat;
}

.validatedWarnings {
	line-height:32px;
	background-image: url("images/warning.png");
    background-position: 50% 40%;  
    background-repeat: no-repeat;
}
/*
 * horizontal rule
 */
 
hr.dotted {
	margin: 15px 0px 15px 0px;
	display: block;
	background: url(images/line_dotted.png) 0 0 repeat-x;
	height: 1px;
	border: none;
}

/*
 * highlighted div and span tags
 */

span.note,
span.info,
span.alert,
span.download,
span.tip {
	display: block;
}

.box-content {
	background: #fafafa;
	border: 1px solid #ddd;
}


div.note, span.note,
div.info, span.info,
div.alert, span.alert,
div.download, span.download,
div.tip, span.tip {
	margin: 10px 0px 10px 0px;
	padding: 8px 10px 8px 35px;
	background: #fafafa;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

div.info, span.info {
	background: #ebf5fa url(images/box_info.png) 0 0 no-repeat;
	border-color: #d2dce1;
}

div.alert, span.alert {
	background: #fff0eb url(images/box_warning.png) 0 0 no-repeat;
	border-color: #ffd7cd;
}

div.download, span.download {
	background: #faffe6 url(images/box_download.png) 0 0 no-repeat;
	border-color: #dce6be;
}

div.tip, span.tip {
	background: #fffae6 url(images/box_tip.png) 0 0 no-repeat;
	border-color: #fae6be;
}
.errorlink,
.warninglink,
.smallfont {
	font-size:90%!important;
}
a.smallfont {
	font-size:90%!important;
}
.firstpar {
	padding:0px 5px 20px 45px;
	margin:15px 0px;
	background: no-repeat url(images/number-1.png) top left;
}
.secondpar {
	padding:0px 5px 20px 45px;
	margin:15px 0px;
	background: no-repeat url(images/number-2.png) top left;
}
.thirdpar {
	padding:0px 5px 20px 45px;
	margin:15px 0px;
	background: no-repeat url(images/number-3.png) top left;
}
.fourthpar {
 	padding:0px 5px 20px 45px;
 	margin:15px 0px;
}
.section {
	padding-left:5px;
	font-weight: normal;
	text-transform: none;
	line-height: 30px;
	padding-top:3px;
	padding-bottom: 10px;
	font-family: "YanoneKaffeesatzLight"; 
	font-size: 30px;
	color:#343CB1;
}
.section1 {
	padding-left:5px;
	font-weight: normal;
	text-transform: none;
	line-height: 30px;
	padding-top:3px;
	padding-bottom: 10px;
	font-family: "YanoneKaffeesatzLight"; 
	font-size: 30px;
	color:#343CB1;
	background:#c2c2c2;
}
.box {
	background: #fafafa;
	border: 1px solid #ddd;
}
.field {
	margin: 10px 0px;
	line-height:28px;
	font-size:100%;
	clear:both;
	overflow: hidden;
}
#left .field  {
	padding:0
	font-size:100%;
	clear:both;
	color:#351695;
}
.field label, label {
	padding-left:1px;
}
	
label input[type="text"] {
	border:#839EB7 1px solid!important;
	width:70%;
}

.field input[type="text"] {
	width:80%;
}
.field input[type="password"] {
	width:80%;
}
.fieldName {
	margin-right: 10px;
	font-family: "YanoneKaffeesatzLight"; 
	font-size:18px;
}


/* Header */

#header-wrapper {
	color: #717171;
}

#header {
	width: 970px;
	height: 160px;
	margin: 0 auto;
	position:relative;
}

/* Menu */

#topmenu {
	height:30px;
	padding-right:20px;
}
#topmenu ul {
	list-style: none;
}
#topmenu li {
	padding-left:10px;
	font-family: "YanoneKaffeesatzLight"; 
	font-size:16px;
}
#topmenu li a {
	text-decoration:none;
}



	
/* Search */
/* oldname searchbox*/ 
.class srchbx {
	font-size:12px;
	font-weight:bold;
}
#search {
	float: right;
	width: 305px;
	height: 45px;
}

#search form {
	float: right;
	margin: 0;
	padding: 12px 30px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 135px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #000000;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 970px;
	margin: 0 auto;
	/*background: #fafafa url(images/middle_bg_t.png) 0 0 repeat-x;*/
	background:#ffffff;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

#page-bgtop {
	
}

	/** LOGO */

#logoLareferencia {
	width: 308px;
	height: 130px;
	top:10px;
	margin: 0 auto;
	float:left;
	position:absolute;
	background: url(images/logo-referencia-openaire.png) no-repeat left bottom;
	background-size: 300px;
}	

#logo {
	width: 300px;
	height: 130px;
	top:10px;
	margin: 0 auto;
	float:left;
	position:absolute;
/* 	background: url(images/OpenAIREplus_logo.png) no-repeat left center; */
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: none;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	text-transform: lowercase;
	font-size: 10px;
}

#logo h1 {
	padding-top: 54px;
	font-size: 34px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Content */

div#content {
	width: auto;
	min-height:300px;
}
div#content {
	margin: 0px 0px 0px 0px;
	float: left;
	width: 658px;
	padding-top: 10px;
	padding-right: 30px;
}

.showright div#content {
	margin: 0px 210px 0px 0px;  
}


/* Main */

div#main {
	/*background: url(images/img07.jpg) repeat-x left bottom;*/
	width: auto!important;	 
	min-height:300px;
}
 
div#main {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#main_container {
	padding:0px 10px 0px 10px;
}

.left div#main {
	margin: 0px 0px 0px 220px;  
}
.right div#main {
	margin: 0px 240px 0px 0px;  
}
div#mainmiddle {
	margin: 0px 0px 15px 0px;
}
div#middle {
	margin: 0px 0px 0px 0px;
	/*background: #fafafa url(images/middle_bg_t.png) 0 0 repeat-x;*/
}

div.middle-b {
	padding: 15px 15px 15px 15px;
	/*background: url(images/middle_bg_b.png) 0 100% repeat-x;	*/

}

div#middle .background {
	min-height: 200px; 
}
.left div#middle .background {
	background: url(images/left_bg_l.png) 220px 0 repeat-y;
}
/* Left */
div#left {
	width: 220px;
}
.left div#middle div#left {
	float: left;
}
#left_container {
	padding:0px 10px 0px 10px;
}
#left_container p, #left_container li, #left p, #left li{
	text-align:left;
	font-size:12px;
}

/* Post */

.post {
	/*background: url(images/img07.jpg) repeat-x left bottom;*/
	padding-bottom: 25px;
	padding-top: 5px;
	margin: 15px 10px 0px 0px;
	/*height: 180px;*/
	position: relative;
}

.postvertical {
	background: url(images/img07.jpg) repeat-x left bottom;
	margin-bottom: 25px;
	margin-top: 20px;
	margin-right: 120px;
	margin-left: 30px;
	float: left;
	width: 277px;
}



.post .title {
	height: 30px;
	color: #0F2B5B;
}

.post .title a {
	text-decoration: none;
	color: #585D60;
}

.post .date {
}

.post .meta {
	margin-top: -10px;
	padding: 2px 30px 2px 16px;
	background: url(images/help.png) no-repeat left 8px;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { 
	padding-left: 3px;
	text-decoration: none;
	color: MediumBlue;
}

.post .entry {
	padding: 10px 0;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}

.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}

/* Sid */

#sid {
	float: left;
	width: 177px;
	padding-right: 22px;
	font-size: 11px;
	color: #585D60;
}

#sid ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sid li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sid li ul {
}

#sid li li {
	margin: 0;
	padding: 7px 10px 10px 7px;
	background: url(images/img07.jpg) repeat-x left bottom;
}

#sid p {
	margin: 0;
	padding: 0px 10px;
}

#sid h2 {
	height: 26px;
	margin: 0 0 10px 0px;
	padding: 12px 0 2px 7px;
	font-size: 18px;
	font-weight: normal;
	color: #464F54;
}


#sid p {
	line-height: 200%;
}
#sid a {
	text-align: left;
	text-decoration: none;
	font-weight: normal;
	color: #585D60;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	padding-top:10px;
	clear: both;  
	height: 62px;
	background:#3440B5;
	color:#ffffff;
	border-top:1px solid #DADADA;

	overflow: hidden;
}

#footer-bgcontent {
	height: 62px;
	padding: 10px;
	background-attachment: scroll;
    background-image: url("images/EC_logo_blue_multi_horizontal.png");
    background-position: 95% 10%;
    background-repeat: no-repeat;
}

#footer p {
	font-size: 12px; font-family: "OpenSansLight"; 
	margin: 0;
	text-align: center;
}

#footer a {
	color: #E5FFC4;
}

/* Table */

#gradient-style
{
	font-size:100%;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 110%;
	font-weight: normal;
	padding: 3px;
	background: #F0F0F0;
	border-top: 2px #CCCCCC solid;
	border-bottom: 2px #CCCCCC solid;
	color: #0F2B5B;
}
#gradient-style td
{
	padding:0px 3px;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #F0F0F0;
}

#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: normal;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #0F2B5B;
	color: #FFFFFF!important;
}

#gradient-style tbody tr:hover td a
{
	color: #fff!important;
	text-decoration:underline;
}

.errordiv {
	background-color:#FFFAE6;
	padding: 5px 10px 5px 10px;
	border-top: 1px dotted #AAB4BE;
	border-bottom: 1px dotted #AAB4BE;
}
.errordiv:hover {
}
/* expand - colapse fields */

.optiontable_container {
	position:relative;
	z-index:100;
	min-width: 400px;
}

.optiontable_ttl {
	line-height: 1em;
	display:block;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #aeadad;
	border-style: solid;
	border-width:0 1px 1px;
}

.optiontable_content {
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: #aeadad;
	border-style: solid;
	border-width:0 1px;
}
.contentR {
	border-left: #aeadad solid 1px;
	border-right: #aeadad solid 1px;
}
.usage {
	border-left: #aeadad solid 1px;
	border-right: #aeadad solid 1px;
}

.optiontable_content2 {
	overflow:auto;
	height: auto;/*30em;*/
}

.floatleft {
	float: left;
	padding-right: 10px;
}


a.help {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("images/help2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 20px;
}
a.external {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("images/icon_external.png");
    background-position: 0 40%;
    background-repeat: no-repeat;
    padding-left: 17px;
}

a.toplink {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("images/footer_anchor.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 12px;
	width: 30px;
	height: 5px;
	display: block;
	text-decoration: none;
}

a.download {
    padding-left: 17px;
    background: url(images/icon_download.png) 0 40% no-repeat;
}

.cmenu {
	font-size: 12px;
	margin : 10px 0px;
	padding : 0px 10px 0px 0px;
}

a.cmenulink {
	color: #0F2B5B;
	text-transform: uppercase;
	text-decoration: none;
}

a.selectlink {
	text-decoration: none;
}

.nest {
	padding-left:20px;
	display: block;
}

/*
 * Clearing & Floating
 */
 
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0;  
	clear: both; 
	visibility: hidden;
}	
 
.clearfix { display: block; }

.floatbox { overflow:hidden; }

.float-left { float: left; overflow: hidden; }
.float-right { float: right; overflow: hidden; }

.width15 { width: 14.999%; }
.width18 { width: 18.333%; }
.width20 { width: 19.999%; }
.width23 { width: 22.999%; }
.width25 { width: 24.999%; }
.width33 { width: 33.333%; }
.width35 { width: 34.999%; }
.width40 { width: 39.999%; }
.width45 { width: 44.999%; }
.width50 { width: 49.999%; }
.width54 { width: 53.999%; }
.width65 { width: 64.999%; }
.width75 { width: 74.999%; }
.width100 { width: 100%; }

.separator {
	/*padding-right: 25px;*/
	background: url(images/module_separator_m.png) 100% 0 repeat-y;
}

/* ajax request */
#log_res {
	overflow: auto;
}
 
#log_res.ajax-loading {
	padding: 20px 0;
	background: url(images/spinner.gif) no-repeat;
}

.button-default,
.button-primary,
form.style button,
form.style input[type='button'],
form.style input[type='submit'] { 
	padding: 8px 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 2px; 
	border: none;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

/* Default */
.button-default,
form.style button,
form.style input[type='button'],
form.style input[type='submit'] {
	background-color: #f5f5f5;
	background-image: -o-linear-gradient(rgba(240,240,240,0), #dbdbdb);
	background-image: -webkit-linear-gradient(rgba(240,240,240,0), #dbdbdb);
	background-image: -moz-linear-gradient(rgba(240,240,240,0), #dbdbdb);
	background-image: linear-gradient(rgba(240,240,240,0), #dbdbdb);
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	display: inherit;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	color: #878787;
}

.button-default:hover,
form.style button:hover,
form.style input[type='button']:hover,
form.style input[type='submit']:hover {
	background-color: #dbdbdb;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.1),
				inset 0 0 1px rgba(0,0,0,0.1);
}

.button-default:active,
form.style button:active,
form.style input[type='button']:active,
form.style input[type='submit']:active {
	color: #737373;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.1),
				inset 0 0 1px rgba(0,0,0,0.1);
}

/* Primary */
.button-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.button-primary:hover {
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.3),
				inset 0 0 1px rgba(0,0,0,0.3);
	color: #fff;
}

.button-primary:active {
	box-shadow: inset 0 1px 8px rgba(0,0,0,0.4),
				inset 0 0 1px rgba(0,0,0,0.3);
	text-shadow: 0 0 5px #fff;
}
.wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal;
}

/* Zebra List and Table */
table.zebra th, table.zebra td { padding: 5px; }
table.zebra th { color:#3440B5 ;font-size: 14px; font-weight: normal; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
table.zebra tbody, table.zebra tfoot { font-size: 12px; font-family: "OpenSansLight"; }

table.zebra tbody td { border-bottom: 1px solid #ddd; word-wrap:break-word; }
table.zebra tbody tr:first-child td { border-top: 1px solid #ddd; }

table.zebra tbody tr.odd { background: url(images/zebra_list.png) 0 0 repeat; }
table.zebra tbody tr:nth-of-type(odd) { background: url(images/zebra_list.png) 0 0 repeat;}

table.zebra caption { color: #999; }
table.zebra tbody tr:hover td { background: #E7E7E7; }

/* Zebra List and Table */
table.zebra1 th, table.zebra td { padding: 5px; }
table.zebra1 th { font-size: 14px; font-weight: normal; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
table.zebra1 tbody, table.zebra tfoot { font-size: 12px; font-family: "OpenSansLight"; }

table.zebra1 tbody td { border-bottom: 0px solid #ddd; word-wrap:break-word; }
table.zebra1 tbody tr:first-child td { border-top: 1px solid #ddd; }

table.zebra1 tbody tr th{ color:black; }
table.zebra1 tbody tr:first-child td { border-top: 0px solid #ddd; }

table.zebra1 tbody th.numb {  background: #2D72D6; border: none; color: white;}
table.zebra1 tbody td.numb {  background: #00B5F0; border: none; padding-left: 10px; color: white;}
table.zebra1 tbody td.cb {  background: #dddddd; border: none; padding-left: 7px; color: white;}

table.zebra1 caption { color: #999; }
/* table.zebra1 tbody tr:hover  { background: #E7E7E7; } */


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
        margin-bottom: -12px;
    }
    
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
/*             background:#7FB5DA; */
            background:#2D72D6;
            text-decoration:none;
			font-size: 15px;
            font-weight:normal;;
/*             color:#4c4c4c; */
			color: #3440B5;
            color:white;
            transition:all linear 0.15s;
/*             font-family: "YanoneKaffeesatzLight"; */
/*             padding: 0 12px; */
/* outline: 0; */
/* position: relative; */
/* white-space: nowrap; */

        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#F3F3F3;
        color:#2D72D6;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:10px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#F3F3F3;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }